$font-color: #000;
$font-alternative-color: #fff;
$background-color: #3d5a80;
$background-alternative-color: #e0fbfc;

$header-color: #d96941;
$footer-color: $header-color;
$border-color: #193c40;

$main-background: #2e5902;
$body-background: #214001;

$green: rgb(0, 128, 0);
$yellow: rgb(255, 255, 0);
$blue: rgb(0, 0, 225);
$gray: rgb(128, 128, 128);
$black: rgb(0, 0, 0);
$hex-white: #f5f5f5;
$hex-gray: #ccc;

$dark-green: rgb(0, 70, 0);
$dark-blue: rgb(2, 2, 96);
$dark-gray: rgb(78, 76, 76);
